* {
  margin: 0;
}

a {
  text-decoration: none;
  color:gainsboro;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: dimgray;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 24px;
  padding: 10px;
}

.logo i {
  color:lightsalmon;
  padding-right: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding-left: 0;
}

.menu li {
  padding: 8px 12px;
  text-align: center;
}

.share {
  display: flex;
  font-size: 24px;
  padding-left: 20px;
  color:gainsboro;
}

.share i {
  padding-right: 10px;
}

.menu_bar {
  display: none;
}

.menu li:hover {
  background-color: lightsalmon;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .menu li {
    padding: 20px;
    text-align: center;
  }

  .share {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    display: none;
    width: 100%;
  }

  .menu_bar {
    display: block;
    position: absolute;
    right: 10px;
    font-size: 24px;
    padding: 10px;
  }

  .menu.active,
  .share.active {
    display: flex;
  }
}